// settings
$fontIcon: "icomoon";


:root {
    // font
    --font-main: "Plus Jakarta Sans", sans-serif;
    --font-main2: "Red Hat Display", sans-serif;
    --font-main3: "Urbanist", sans-serif;

    // Color

    --Black: #000000;
    --White: #ffffff;
    --body-text: #666666;
    --Text-primary: #0a0a0a;
    --Text-secondary: #474747;
    --Text-muted: #a2a4ab;
    --Line: #e5e7eb;
    --On-Suface-1: #6d7074;
    --On-Suface-2: #24283e;
    --Out-line: #e4e4e4;
    --Bg-light: #f5f8f4;
    --Bg-dark: #101010;
    --Bg-dark-2: #0F191C;
    --Placehover: #c1c1c1;
}
