@use "../abstracts/index" as *;

form {
    position: relative;
    z-index: 30;
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"] {
        display: block;
        outline: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100%;
        padding: 11px 16px;
        font-size: 17px;
        font-weight: 400;
        line-height: 28px;
        border: 1px solid var(--Out-line);
        border-radius: 4px;
        color: var(--Text-primary);
        overflow: hidden;
        margin-bottom: 0;
        @include transition3();
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &::placeholder {
            color: var(--Text-muted);
        }
        &:focus {
            outline: none;
        }

        &.style-line-bottom {
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid var(--Line);
            border-radius: 0;
            padding: 0;
            padding-bottom: 16px;

            &:focus {
                border-color: var(--Text-primary);
                outline: none;
            }
            &.v2 {
                background-color: transparent;
                font-size: 15px;
                line-height: 22px;
                color: var(--White);
                box-shadow: unset;
                &:focus {
                    border-color: var(--Primary);
                }
            }
        }
    }
    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        background-color: transparent;
        overflow: hidden;
        padding: 0;
    }
    textarea {
        height: 112px;
        padding: 14px 16px;
        &.style-line-bottom {
            padding-bottom: 16px;
            border: 0;
            border-bottom: 1px solid var(--Line);
            border-radius: 0;
            padding: 0;
            padding-bottom: 16px;
            &:focus {
                border-color: var(--Text-primary);
                outline: none;
            }
        }
    }
}

.tf-check {
    position: relative;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--Line);
    background-color: transparent;
    border-radius: 1px !important;
    @include transition3();
    &:checked {
        background-color: var(--Text-primary) !important;
        &::before {
            opacity: 1;
            transform: scale(1);
        }
    }
    &::before {
        font-family: $fontIcon;
        content: "\e918";
        position: absolute;
        color: var(--White);
        opacity: 0;
        left: 1px;
        top: 1px;
        font-size: 10px;
        transform: scale(0.5);
        @include transition3;
    }
}

.radio-item {
    label {
        cursor: pointer;
    }
    .radio-custom {
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 1.5px solid var(--White);
        border-radius: 50%;
        vertical-align: middle;
        background: transparent;
        transition: all 0.3s ease;
        position: relative;
        cursor: pointer;
        &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--Primary);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            @include transition3();
        }
    }
    input[type="radio"] {
        display: none;
    }
    .radio input[type="radio"]:checked + .radio-custom {
        border-color: var(--Primary);
        &::after {
            opacity: 1;
        }
    }
    &.style-2 {
        .radio-custom {
            width: 14px;
            height: 14px;
            border-color: var(--Text-muted);
            &::after {
                background-color: var(--Secondary);
                width: 8px;
                height: 8px;
            }
        }
        .radio-title {
            color: var(--Text-muted);
            @include transition3();
        }
        .radio input[type="radio"]:checked + .radio-custom {
            border-color: var(--Secondary);
            &::after {
                opacity: 1;
            }
        }
        .radio input[type="radio"]:checked + .radio-custom + .radio-title {
            color: var(--Secondary);
        }
    }
}

.box-fieldset-item {
    fieldset {
        flex-shrink: 0;
        margin-right: 6px;
        padding: 3px;
    }
}

.form-search {
    position: relative;
    fieldset input {
        padding: 12px 16px;
        font-size: 15px;
        line-height: 22px;
    }
    .button-submit {
        font-size: 24px;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
    }
    &.style-2 {
        fieldset input {
            border-radius: 60px;
        }
    }
}

.form-newsletter {
    position: relative;
    fieldset input {
        padding: 20px 16px;
        border-radius: 60px;
        font-size: 15px;
        line-height: 22px;
    }
    .button-submit {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 4px;
        font-size: 24px;
        button {
            height: 56px;
            width: 56px;
            border-radius: 50%;
            color: var(--Secondary);
            background-color: var(--Primary);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &.style-1,
    &.style-5,
    &.style-6,
    &.style-7,
    &.style-8 {
        position: relative;
        fieldset input {
            padding: 18px 24px;
            font-size: 17px;
            line-height: 28px;
            border: 0;
            box-shadow: 0px 10px 25px 0px #365f681a;
        }
        .tf-btn {
            position: absolute;
            right: 4px;
            top: 50%;
            transform: translateY(-50%);
            padding: 16px 24px;
        }
    }
    &.style-2 {
        fieldset input {
            height: 50px;
            padding-bottom: 0;
            border-color: rgba(255, 255, 255, 0.3);
            &::placeholder {
                color: var(--Text-secondary);
            }
        }
        .button-submit {
            width: unset;
            height: unset;
            background-color: transparent;
            color: var(--White);
            @include transition3();
            &:hover {
                color: var(--Primary);
            }
        }
    }
    &.style-3,
    &.style-4 {
        border-radius: 8px;
        overflow: hidden;
        fieldset input {
            height: 60px;
            border-radius: 8px;
            overflow: hidden;
            border: unset;
            font-size: 17px;
            line-height: 28px;
            background-color: var(--White);
            padding-left: 25px;
        }
        .button-submit {
            height: 60px;
            width: 60px;
            border-radius: unset;
            font-size: 28px;
            right: 0;
            background-color: var(--Primary);
            color: var(--White);
        }
    }
    &.style-4 {
        border-radius: 0px;
        fieldset input {
            border-radius: 0px;
            background-color: var(--Bg-2);
            color: var(--White);
            &::placeholder {
                color: var(--Text-muted);
            }
        }
        .button-submit {
            background-color: var(--White);
            color: var(--Text-primary);
            @include transition5();
            &:hover {
                background-color: var(--Primary);
                color: var(--White);
            }
        }
        @include res(lg, min) {
            max-width: 420px;
            margin-left: auto;
        }
    }
    &.style-5 {
        fieldset input {
            border: 1px solid #ffffff1a;
            backdrop-filter: blur(16px);
            background: linear-gradient(
                103.12deg,
                rgba(255, 255, 255, 0.05) 0%,
                rgba(255, 255, 255, 0.01) 100%
            );
            color: var(--White);
            box-shadow: unset;
            height: 72px;
        }
        .tf-btn {
            padding: 16px 40px;
            right: 8px;
        }
    }
    &.style-6,
    &.style-7 {
        fieldset input {
            border: 1px solid var(--Line);
            height: 72px;
            @include res(lg, min) {
                padding-left: 27px;
            }
        }
        .tf-btn {
            padding: 16px 40px;
            right: 8px;
        }
    }
    &.style-7 {
        fieldset input {
            border-color: #ffffff1a;
            background: linear-gradient(
                103.12deg,
                rgba(255, 255, 255, 0.05) 0%,
                rgba(255, 255, 255, 0.01) 100%
            );
            color: var(--White);
            &::placeholder {
                color: var(--Text-secondary);
            }
        }
        .tf-btn {
            @include res(sm) {
                padding: 16px 12px;
            }
        }
    }
    &.style-8 {
        fieldset input {
            border-radius: 12px;
            @include res(lg, min) {
                height: 72px;
            }
        }

        .tf-btn {
            border-radius: 8px;
            right: 8px;
        }
    }
    &.style-9 {
        fieldset input {
            background-color: #ffffff1a;
            border: unset;
            color: var(--White);
        }
        .button-submit {
            height: 52px;
            width: 52px;
            background-color: var(--Primary);
            color: var(--White);
            border-radius: 50%;
            @include transition3();
            &:hover {
                background-color: var(--Secondary);
            }
        }
    }
}

.form-leave-comment {
    fieldset input,
    textarea {
        border-radius: 8px;
    }
}

.form-request {
    background-color: var(--White);
    padding: 42px 40px;
    @include res(md) {
        padding: 30px 15px;
    }
    fieldset input {
        height: 54px;
        font-size: 15px;
        line-height: 22px;
    }
    textarea {
        font-size: 15px;
        line-height: 22px;
    }
}

.form-book-appointment {
    padding: 28px;
    border-radius: 16px;
    background-color: var(--Bg-light);
    gap: 10px;
    @include res(md) {
        padding: 28px 15px;
    }
    fieldset input,
    textarea {
        border-radius: 12px;
    }
    textarea {
        height: 120px;
    }
    .tf-btn {
        padding: 11px 28px;
    }
    .calendar-input {
        position: relative;
        input {
            cursor: pointer;
        }
        i {
            top: 50%;
            transform: translateY(-50%);
            right: 14px;
            position: absolute;
            color: var(--Text-muted);
            font-size: 24px;
            pointer-events: none;
        }
    }
}

.form-contact {
    textarea {
        height: 88px;
    }
}

.form-contact-2 {
    width: 100%;
    fieldset input {
        border-radius: 12px;
    }
    &.v2 {
        fieldset input,
        .nice-select,
        textarea {
            border-color: var(--Text-secondary);
        }
        fieldset input {
            padding: 12px 0;
            color: var(--White);
            &:focus {
                border-color: var(--Primary);
            }
            &::placeholder {
                color: var(--White);
            }
        }
        .nice-select {
            background-color: transparent;
            border-width: 0 0 1px 0;
            border-radius: 0;
            .current {
                color: var(--White);
            }
        }
        .nice-select {
            padding-left: 0;
            padding-right: 0;
            &::after{
                color: var(--White);
            }
        }
        textarea {
            color: var(--White);
            padding-top: 11px;
            height: 110px;
            &:focus {
                border-color: var(--Primary);
            }
            &::placeholder {
                color: var(--White);
            }
        }
    }
}

.form-calculator {
    .title {
        width: 190px;
        flex-shrink: 0;
        @include res(sm) {
            width: 115px;
        }
    }
    .tf-range-slider {
        position: relative;
        width: 100%;
        margin-top: 6px;
        margin-bottom: 6px;
        input[type="range"] {
            -webkit-appearance: none;
            width: 100%;
            height: 40px;
            background: #e6f3e6;
            border-radius: 12px;
            outline: none;
            margin: 0;
        }

        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 0;
            height: 0;
        }
        input[type="range"]::-moz-range-thumb {
            width: 0;
            height: 0;
            border: none;
        }

        .thumb-circle {
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 52px;
            height: 52px;
            background: #146b70;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            pointer-events: none;
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                cursor: pointer;
                z-index: 1;
            }
        }
    }
    .box {
        border-bottom: 1px solid var(--Line);
        margin-bottom: 30px;
        padding-bottom: 28px;
        @include res(lg, min) {
            > div {
                padding-left: 28px;
            }
        }
    }
    .wrap-total {
        height: 40px;
        border-radius: 12px;
        display: flex;
        justify-content: end;
        align-items: center;
        background-color: var(--Secondary);
        overflow: hidden;
        margin-top: 36px;
        margin-bottom: 6px;
        .total {
            padding-left: 59px;
            padding-right: 59px;
            background-color: var(--Primary);
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 35px;
        }
    }
}

.form-book-landscaping {
    padding: 32px 40px 40px;
    border-top: 8px solid var(--Primary);
    border-radius: 20px;
    @include res(md) {
        padding: 30px 15px;
    }
    fieldset input,
    textarea {
        border: 0;
        background-color: var(--Bg-light);
        border-radius: 8px;
    }
    fieldset input {
        height: 52px;
    }
    textarea {
        height: 102px;
    }
}

.form-service-booking {
    display: grid;
    gap: 32px;

    fieldset input {
        background-color: #ffffff1a;
        border: unset;
        color: var(--White);
        border-radius: 8px;
        @include res(lg, min) {
            height: 64px;
        }
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
        cursor: pointer;
    }

    input[type="date"]::-webkit-calendar-picker-indicator,
    input[type="time"]::-webkit-calendar-picker-indicator {
        opacity: 0;
        cursor: pointer;
    }

    input[type="date"],
    input[type="time"] {
        position: relative;
        &::after {
            content: "\e95b";
            position: absolute;
            font-family: $fontIcon;
            color: var(--White);
            font-size: 24px;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
        }
    }

    input[type="time"] {
        &::after {
            content: "\e937";
        }
    }

    .nice-select {
        background-color: #ffffff1a;
        border-radius: 8px;
        border: unset;
        &::after {
            color: var(--White);
        }
        @include res(lg, min) {
            height: 64px;
        }
        .current {
            color: var(--White);
        }
    }
    &.style-2 {
        input[type="date"],
        input[type="time"] {
            &::after {
                color: var(--Text-muted);
            }
        }
        fieldset input {
            background-color: var(--White);
            border: 1px solid var(--Line);
            color: var(--Secondary);
            border-radius: 8px;
            @include res(lg, min) {
                height: 52px;
            }
        }
        .nice-select {
            background-color: var(--White);
            border-radius: 12px;
            border: 1px solid var(--Line);
            &::after {
                color: var(--Text-primary);
            }
            @include res(lg, min) {
                height: 52px;
            }
            .current {
                color: var(--Text-primary);
            }
        }
        textarea {
            height: 120px;
        }
    }
}

.form-book-move {
    background-color: var(--Secondary);
    padding: 40px;
    border-radius: 16px;

    @include res(md) {
        padding: 40px 15px;
    }
    fieldset {
        position: relative;
        input {
            background-color: transparent;

            color: var(--White);
            border-color: #ffffff1a;
            border-radius: 8px;
        }
        i {
            position: absolute;
            font-size: 24px;
            color: var(--White);
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
        }
    }

    .input-has-icon {
        padding-left: 44px;
    }

    textarea {
        background-color: transparent;
        color: var(--White);
        border-color: #ffffff1a;
        height: 120px;
        border-radius: 12px;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
        width: 100%;
        left: 16px;
        cursor: pointer;
        position: absolute;
    }

    .nice-select {
        background-color: transparent;
        border-color: #ffffff1a;
        border-width: 1px;
        border-radius: 8px;
        > span {
            color: var(--White);
        }

        &::after {
            color: var(--White);
        }
    }
}

.form-legal-consultation {
    fieldset {
        position: relative;
        i {
            position: absolute;
            font-size: 24px;
            color: var(--White);
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
        }
        input {
            height: 52px;
            border-radius: 0;
            background: #ffffff1a;
            border: unset;
            color: var(--White);
            &::placeholder {
                color: rgba(255, 255, 255, 0.6);
            }
        }
    }
    .input-has-icon {
        padding-left: 44px;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
        width: 100%;
        left: 16px;
        cursor: pointer;
        position: absolute;
    }
    .nice-select {
        border: unset;
        background: #ffffff1a;
        border-radius: 0;
        > span,
        &::after {
            color: var(--White);
        }
    }
    textarea {
        border-radius: 0;
        background: #ffffff1a;
        border: unset;
        color: var(--White);
        height: 109px;
        &::placeholder {
            color: rgba(255, 255, 255, 0.6);
        }
    }
}

.form-search-courses {
    overflow: hidden;
    border-radius: 4px;
    fieldset input {
        border: unset;
        border-radius: unset;
        border-bottom: 2px solid var(--Line);
        padding: 16px 0 16px;
    }
    .button-submit button {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        @include transition3;
        i {
            font-size: 22px;
            color: var(--Text-primary);
            font-weight: 500;
            @include transition3;
        }
        &:hover {
            i {
                color: var(--Primary);
            }
        }
    }
}

.input-animate-container {
    position: relative;

    .placeholder-wrapper {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        pointer-events: none;
        display: flex;
        overflow: hidden;
        .placeholder-text {
            font-size: 16px;
            transition: opacity 0.3s ease;
        }
    }

    .input-field {
        &:focus ~ .placeholder-wrapper,
        &:not(:placeholder-shown) ~ .placeholder-wrapper {
            opacity: 0;
        }
    }

    .typing-animation {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;

        &.typing-in {
            animation: typeIn 800ms steps(40) forwards;
        }

        &.typing-out {
            animation: typeOut 0.8s steps(40) forwards;
        }
    }

    .cursor {
        display: inline-block;
        width: 2px;
        height: 18px;
        background-color: var(--Primary);
        margin-left: 2px;
        animation: blink 0.8s infinite;
        vertical-align: middle;
    }
}

@keyframes typeIn {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes typeOut {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

@keyframes blink {
    0%,
    49% {
        opacity: 1;
    }
    50%,
    100% {
        opacity: 0;
    }
}
