{% load static %}
<header class="header style-default header-fixed">
    <div class="tf-container">
        <div class="header-inner">
            <a href="{% url 'hub:home' %}" class="site-logo">
                {% if company.logo %}
                    <img class="logo_header" alt="{{ company.company_name }}" width="167" height="52" src="{{ company.logo.url }}">
                {% else %}
                    <img class="logo_header" alt="{{ company.company_name }}" width="167" height="52" src="{% static 'images/brand/logo-wordmark.svg' %}">
                {% endif %}
            </a>

            <nav class="main-menu">
                <ul class="navigation">
                    <li class="text-menu{% if request.resolver_match.url_name == 'home' %} active{% endif %}">
                        <a href="{% url 'hub:home' %}" class="toggle">Home</a>
                    </li>
                    <li class="text-menu{% if request.resolver_match.url_name == 'about' %} active{% endif %}">
                        <a href="{% url 'hub:about' %}" class="toggle">About</a>
                    </li>
                    <li class="text-menu{% if request.resolver_match.url_name == 'services' %} active{% endif %}">
                        <a href="{% url 'hub:services' %}" class="toggle">Services</a>
                    </li>
                    <li class="text-menu{% if 'news' in request.resolver_match.url_name %} active{% endif %}">
                        <a href="{% url 'hub:news' %}" class="toggle">News</a>
                    </li>
                    <li class="text-menu{% if request.resolver_match.url_name == 'team' %} active{% endif %}">
                        <a href="{% url 'hub:team' %}" class="toggle">Team</a>
                    </li>
                    <li class="text-menu{% if request.resolver_match.url_name == 'contact' %} active{% endif %}">
                        <a href="{% url 'hub:contact' %}" class="toggle">Contact</a>
                    </li>
                </ul>
            </nav>

            <div class="header-right d-flex align-items-center gap_20">
                <a href="{% url 'hub:contact' %}" class="tf-btn btn-hover-animate-2">
                    <span>Get In Touch</span>
                    <span class="bg-effect"></span>
                </a>
                <div class="mobile-button d-lg-none" data-bs-toggle="offcanvas"
                    data-bs-target="#menu-mobile" aria-controls="menu-mobile">
                    <div class="burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
